@use '@picocss/pico/scss/pico' with (
	$semantic-root-element: '#root',
	$enable-semantic-container: true
);

/* change when Pico's grids collapse */
@media (min-width: map-get(pico.$breakpoints, 'sm')) {
	.grid {
		grid-template-columns: repeat(auto-fit, minmax(0%, 1fr));
	}
}
